{% extends 'learning_logs/base.html' %}

{% block page_header %}

```
<h1>My Curiosities</h1>
```

{% endblock page_header %}

{% block content %}

```
<ul class="list-group mb-3">

    {% for topic in topics %}

        <li class="list-group-item">

            <a href="{% url 'learning_logs:topic' topic.id %}">

                {{ topic }}

            </a>

        </li>

    {% empty %}

        <li class="list-group-item">

            No curiosities have been added yet.

        </li>

    {% endfor %}

</ul>


<a class="btn btn-primary"
   href="{% url 'learning_logs:new_topic' %}">

    Add a New Curiosity

</a>
```

{% endblock content %}
